[user]
	email = kkevin.liu@protonmail.com
	name = Kevin Liu Rodrigues
[alias]
    co = checkout
    st = status -bs
    lg = log --decorate --graph --oneline -10
    out = log @{u}..
    in = log ..@{u}
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[sendmail]
